---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/kathrynpassport2.jpg" />
		<link rel="icon" href="/kathrynpassport2.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kat Kutz</title>
	</head>
	<body>
		<h1>Buy Kat Kutz. It's Awsummmmm!!!!</h1>
		<img src="/kathrynpassport2.jpg" alt="Kathryn's Passport Photo" />
	</body>
</html>
